/*Bo vien ben ngoai*/
*:focus {
    outline: 0 !important;
} 


/*Khong cho select text*/
*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*4  text icon footer */
span.menu4icontitle{
	font-size: 11px;
	margin-top:-5px;
	margin-bottom:2px;
}


/* Size icon footer */
.size-24 { font-size: 24px; }
.size-35 { font-size: 35px; }
.size-45 { font-size: 40px; }
.size-40 { font-size: 30px; } 
 

/* Size font khi xem bài viết */
.size-11 { font-size: 11pt; } 
.size-13 { font-size: 13pt; } 
.size-17 { font-size: 17pt; } 
.size-22 { font-size: 22pt; } 

 
/* Hiển thị list bài viết quan ly dao tao */
.list_baiviet_qldt{
	padding-top:150px;
	background-color: #fff !important;
	padding-bottom:40px; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
	height: 100vh;
}.list_baiviet{
	padding-top: 80px;
	background-color: #fff !important;
	padding-bottom:60px; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
	height: 100vh; 
}.list_baiviet-night{
	background-color: #0d0d0d !important;
}.list_baiviet_qldt-night{
	background-color: #0d0d0d !important;
}


/* List bai viet home */
.list_ban_khach_repeat { 
	width: 100%;
    height: 80px;
    margin-bottom: 15px;
    position: relative;
}
.imgList{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    font-size: 65px;
    color:#fff;
    text-align:center;
    margin-left: 15px;
	background-color: #b9f6ca !important;
}


/*Hien thi ten list bai viet*/
.title_desk{    
	font-size:13px;
    position: absolute;
    bottom: 0;
    margin-left: 110px;
    width: calc(100vw - 125px); 
	color:#000;
    height: 80px;
    margin-right: 15px;
    padding-top: 8px;
    
}.title_desk-night{     
	color:#B2B2B2;  
}
.catandDate{
    margin-top: 52px ; 
    margin-left: 110px; 
    padding-top: 0px;
    position: absolute;
    width: calc(100vw - 125px); 
    color:#808080;  
}


/*Rut gon tieu de bai viet ...*/
.rutgon_text{
    font-size:17px;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box; 
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}.rutgon_textdate{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box; 
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
} 


/* Định dạng 4 nút trong footer menu */
.status_buttons a {
	text-decoration:none;
	color:#9E9E9E;
	display:inline-block; 
	width:23%;
}
.status_buttons a:hover {
	text-decoration:none;
	color:#9E9E9E;
}
.status_buttons span {
	display:block;
} 
.status_buttons a.active span   {
	text-decoration: none;
	color:#2dbe60;
}
.status_buttons-night a { 
	color:#B2B2B2;
}.status_buttons-night a:hover { 
	color:#B2B2B2;
}.status_buttons-night a.active span   { 
	color: #FFF;
}


/* Định dạng 4 nút chọn size font */
.sizefont_buttons a {  
	text-align:center;
	text-decoration:none; 
	display:inline-block; 
	width:17%; 
	margin-left:5%;
	border-radius:10px;
	color:#2dbe60;
}
.sizefont_buttons a:hover {  
	text-align:center;
	text-decoration:none;
	color:#FFF;
	background-color: #2dbe60 !important; 
}
.sizefont_buttons span {
	text-decoration:none;  
	text-align:center;
	display:block; 
}
.sizefont_buttons a.active span   {  
	text-align:center;
	text-decoration: none;
	color:#FFF;
	background-color: #2dbe60 !important;
	border-radius:10px;
}


/*Icon share cach icon luu bai viet*/
.iconshare-padding{
    padding-left: 40px;
}


/* Định dạng header menu*/
.menu_header{
	color:#000; 
	text-align:center;
	position:fixed;  
	width: 100%; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14pt;
	-webkit-backface-visibility: hidden;
	top: 0;   
	left: 0;
    height: 65px; 
    background: rgba(250,250,250,.7);  
    -webkit-backdrop-filter: brightness(1.5) blur(15px);
}.menu_header-night{
	color: #FAFAFA;
    background: rgba(10,10,10,.9);
}


/* Định dạng footer menu */
.menu_footer{
	color:#FFF;   
	text-align:center;
	position:fixed;  
    width:100%;
	-webkit-backface-visibility: hidden;
    bottom: 0; 
    z-index: 100;
	border-top:#9E9E9E solid 0.5px !important;
    background: rgba(250,250,250,.7) !important;  
    -webkit-backdrop-filter: brightness(1.5) blur(15px);
}.menu_footer-night{
	color:#2dbe60;      
    background: rgba(10,10,10,.9) !important;
	border-top:#1a1a1a solid 0.5px !important; 
}

/*Dinh dang cho footer*/
.night_Mode{
	color: #FAFAFA;
	background-color: #212121 ; 
}
.night_Mode_Content {
	background-color: #0d0d0d !important; 
}


/*Cai dat*/
.setting_content {
  margin-left: 150px;
}
.setting_title{
  float: left;
  width: 150px;
  margin-left: -150px;  
  padding-left: 15px;
  padding-bottom:5px; 
  padding-top:5px; 
}.setting_info{
  float: right;
  width: 100%; 
  padding-bottom:5px; 
  padding-top:5px;  
}.setting_info_toogle{
  float: auto;
  width: 60px;
  margin-left:40%;  
  text-align: center;
}.setting_cleared {
  clear: both;
}


/*Bo tri noi dung khi xem bai viet*/
.baiviet_tieude_content {
  margin-right: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}.baiviet_tieude_title{
  float: right;
  width: 150px;
  margin-right: -150px;  
  padding-right: 15px;
  padding-bottom:5px; 
  padding-top:5px;
  color: #2dbe60;
}.baiviet_tieude_info{
  float: left;
  width: 100%; 
  padding-bottom:5px; 
  margin-top:10px;  
}.baiviet_tieude_cleared { 
  margin-top:15px; 
  clear: both;
}



/*Text center qldt*/
.text_center{ 
      height: 30px;
      line-height: 30px;
      text-align: center;
}


/*Hoc phan cach xa*/
.span_hocphan{
    display: inline-block;
      vertical-align: middle;
    
      line-height: normal;
}
.height_hocphan{
    height: 50px;
}


/*Tieu de menu cach top*/
.paddingheader{
    width:100vw;
    height:20px;
}


/* Định dạng list menu */
.link_menu {
	width:100%;
	color:	#000; 
	text-align:left;  
	padding: 20px;
	margin-top:0px;
    position: relative;
    text-indent: 25px;
/*    border-bottom: 1px solid #999999 !important;*/
}
.link_menu-night {
	color: #FAFAFA;
/*    border-bottom: 1px solid #212121 !important; */
}
.canhleicon{
    position: absolute;
    margin-top: -4px;
    margin-left: -55px;
}


/* Thanh menu header */
.modal-header {
	border-bottom: #9E9E9E solid 0.5px !important;
	text-align:center;   
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14pt;
    height: 65px;

}   
.modal-header-night {
	color: #FAFAFA !important;
	border-bottom: #1a1a1a solid 0.5px !important;
}


/*Thanh menu header cai dat*/ 
.modal-header-setting {
	border-top:#9E9E9E solid 0.5px !important;
	border-bottom:#9E9E9E solid 0.5px !important;
    padding: 7px 20px 7.5px 20px;
	text-align:center;  
	color:	#000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14pt;
    height: 45px;
	background-color: #fafafa !important; 

}.modal-header-setting-night { 
	color: #FAFAFA !important;
	background-color: #0A0A0A !important; 
	border-top:#1a1a1a solid 0.5px !important;
	border-bottom:#1a1a1a solid 0.5px !important;
}  



/*Dinh dang chu dieu khoan */
 h3.page-title {
    font-size: 24px;
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 10px;
    clear: both;
    padding: 5px 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2dbe60;
    text-align: center;
    font-weight: 700
}
 h3.page-title span {
    vertical-align: middle
}
 h3.page-title i {
    display: none;
    margin-right: 5px
} .detail {
    float: left
} .main-feature {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 3px solid #2dbe60;
    padding: 10px 0;
    margin-bottom: 20px;
    float: left
}
.text-inden {
    float: left;
    padding-left: 40px
}


/* Ding dang menu chon the loai bai viet */
.modal-header-theloai {
	border-top:#9E9E9E solid 0.5px !important;
	border-bottom:#9E9E9E solid 0.5px !important;
	padding: 12px 7px 0px 20px;  
	height:50px;
	text-align:center;
	margin-top:30%;   
	color:	#000;
    background-color: #fafafa;
} 
.modal-header-theloai-night {
	color: #FAFAFA; 
    background-color: #0A0A0A;
	border-top:#1a1a1a solid 0.5px !important;
	border-bottom:#1a1a1a solid 0.5px !important;
}


/*Dinh dang nen khi xem bai viet*/
.modal-content-theloai {
  width: 100vw; 
  background-color: #FFF !important; 
  height:50%;
  min-height: 100%;
  outline: 0;
} 
.modal-content-theloai-night {
background-color: #0d0d0d !important;
  color: #B2B2B2;
}


/*Dinh dang item trong list the loai*/
.itemSelect {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14pt; 
	text-align:center; 
	border-bottom: #9E9E9E solid 0.5px !important; 
	padding:15px; 
}.itemSelect-night {
	border-bottom:#1a1a1a solid 0.5px !important; 
}


/*Login box quan ly dao tao*/
.loginbox_qldt{ 
	color:	#000;
    position:fixed;
    top:65px;
    width:100%;
    z-index:100;
    background-color: #fff;
/*
    background: rgba(221, 224, 231,.85);  
    -webkit-backdrop-filter: brightness(1.5) blur(15px);
*/
}
.loginbox_qldt-night{
	color: #FAFAFA; 
    background-color: #0d0d0d;
/*
    background: rgba(0,0,0,.9);  
    -webkit-backdrop-filter: brightness(1.5) blur(15px);
*/
}


/*Nen khi xem info app*/
.background_info{ 
    margin: 0 -10px 0 -10px;
}


/* Không hiện thanh scroll*/
::-webkit-scrollbar { 
    display: none; 
}


/*Dinh dang chu va font*/
.text-center {
  text-align: center; 
}
 body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:11pt; 
  color: #333; 
  margin: 0; 
}
.font1 {
  font-size: 11pt; 
  font-weight: normal; 
  line-height: 1.4;
}
.font2 {
  font-size: 13pt; 
  font-weight: normal; 
  line-height: 1.4;
}
.font3 {
  font-size: 17pt; 
  font-weight: normal; 
  line-height: 1.4;
}
.font4 {
  font-size: 22pt; 
  font-weight: normal; 
  line-height: 1.4;
}


/*Dinh dang ket qua hoc tap*/
.hoctap_text{
    width: 35%;
    left:0;
    text-align: left;
    float:left; 
    padding: 5px 0 5px 0;
    text-indent: 0px;
}
.hoctap_data{
    border-bottom: 1px solid #262626;
    right:0;
    text-align: right; 
    color: #B6B6B6;
    padding: 5px 0 5px 0;
    text-indent: 0px;
}
.hoctap_text1{
    width: 35%;
    left:0;
    text-align: left;
    float:left;
    padding: 5px 0 5px 0;
    text-indent: 0px;
}
.hoctap_data1{
    padding: 5px 0 5px 0;
    right:0;
    text-align: right; 
    color: #B6B6B6;
    text-indent: 0px;
}


/*Dinh dang chu o tab info app*/
.version_text{
    width: 70%;
    left:0;
    text-align: left;
    float:left; 
}
.version_data{
    right:0;
    text-align: right; 
    color: #B6B6B6;
}
.canhletrai{
    text-indent: -15px;
}
.canhlephai{
    text-indent: 0px;
}
.info_div{
    left:0;
    text-align: left;
    padding: 15px;
    margin: 10px 0 10px 0;
    background-color: #fff;
}
.last_info{
    text-align: center;
    padding: 25px;
}
.clear_both{
    clear: both;
}


/*Dinh dang list menu o tab khac*/
.list_menu{
	padding-top:70px;
	background-color: #fff !important;
	padding-bottom:70px; 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
	height: 100vh; 
}.list_menu-night{
	background-color: #0d0d0d !important;
}


/* 4 nút menu*/ 
i {
    font-style: italic;
} 
 
  
/* Show 4 menu*/
.slide { 
	height: 100%; 
	width:100%; 
	
}
.slide-night {
	background-color: #0d0d0d !important;
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

 
/* Thanh cuon o tab info*/
.scroller_info {
    position: relative;
	height: 100vh; 
    overflow: hidden;
    padding: 75px 0 20px 0;
    margin: 0 -10px 0 -10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
}
.scroller_info-night {
    color: #727272;
	background-color: #0d0d0d !important;
}


/*Thanh cuon khi xem noi dung bai viet*/
.scroller_content {
    position: relative;
	height: 100vh; 
    overflow: hidden;
    padding: 75px 0 20px 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*Thanh cuon dk hoc phan*/
.scroller_dkhocphan {
    position: relative;
	height: 100vh; 
    overflow: hidden;
    padding: 75px 0 20px 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 -10px 0 -10px;
    background-color: #fff;
}
.scroller_dkhocphan-night {
    color: #fafafa;
	background-color: #0d0d0d !important;
}


/*Dinh dang modal khi xem baiv viet*/
.xem_baiviet_bogoc_modal { 
	background-color: #FFF !important; 
    border: 0 !important;
	margin: 0 10px 10px 10px;
    display: block;
    height: 100vh;
}.xem_baiviet_bogoc_modal-night { 
	background-color: #0d0d0d !important;
}
 

/* Định dạng lại box login*/
.tieude_login {  
	margin-top:  -55px; 
	margin-left: 90px; 
	display: block; 
	width: auto;   
}.icon_tieude_login {  
	border: #F0F4F7 solid 8px !important; 
    margin-left: 15px;
    max-width: 65px;
    max-height: 65x;
	margin-top: 15px; 
    border-radius: 50%;	
}


/*Dinh dang xem noi dung box login*/
.xem_noidung { 
	padding-top: 15px;
    border-bottom: 0.5px solid #9E9E9E;
}


/* Định dạng lại màu nền login form*/
.input_login {   
	height:40px;
	width: 100%;
	border:none;
	margin: 15px 15px 0 15px;  
	text-indent: 10px;	
    color: #2dbe60;
    font-weight: bold;
/*    border-bottom: 0.5px solid #2dbe60;*/
    border-left: 5px solid #2dbe60;
    border-radius: 8px;

}
.button_login:focus, .input_login:focus{
    outline: 0;
}.button_login {
	background-color: #2dbe60;
	height:40px;
	width: calc(100vw - 30px);
	border:none;
    border-radius: 8px;
	margin: 15px 15px 15px 15px;  
}
.button_hp:focus, .input_login:focus{
    outline: 0;
}.button_hp {
	background-color: #2dbe60;
	height:40px;
	width: auto;
	border:none;
	margin-left : 10px;  
	margin-top : 10px; 
    border-radius: 8px;
    display: inline-block;
} 
.button_ca:focus, .input_login:focus{
    outline: 0;
}.button_ca {
	background-color: #F44336;
	height:40px;
	width: auto;
	border:none;
	margin-left : 10px;
	margin-top : 10px;  
    border-radius: 8px;
    display: inline-block;
}
.nutdangki{
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
}


/*Toggles cai dat*/
#toggles{
width:60px;
margin:50px auto;
text-align:center;
}
.ios-toggle,.ios-toggle:active{
position:absolute;
top:-5000px;
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:12px;
line-height:16px;
width:100%;
height:36px;
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#f8f8f8;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-300px;
padding:10px;
height:100%;
width:300px;
text-align:right;
color:#bfbfbf;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
-webkit-box-shadow:inset 0 0 0 20px rgba(01,87,255,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(01,87,255,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 20px rgba(01,87,255,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:60px;
width:36px;
}
#checkbox3 + .checkbox-label{
-webkit-box-shadow:inset 0 0 0 0px #2dbe60,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px #2dbe60,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px #2dbe60,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
-webkit-box-shadow:inset 0 0 0 20px #2dbe60,0 0 0 2px #2dbe60;
   -moz-box-shadow:inset 0 0 0 20px #2dbe60,0 0 0 2px #2dbe60;
        box-shadow:inset 0 0 0 20px #2dbe60,0 0 0 2px #2dbe60;
}
#checkbox3:checked + .checkbox-label:after{
color:#2dbe60;
}